.up-pane{
	-fx-background-color:  #1354a1;
}

.left-pane{
	-fx-background-color: #1d1d1d;
}

.footer{
	-fx-background-color: #1d1d1d;
}

.sign-field{
	-fx-background-color: #e1e1e1;
	-fx-background-radius: 40;
}

.sign-field:hover{
	-fx-effect: dropshadow(three-pass-box, green, 20, 0, 0, 0) !important;
}

.search-bar{
	-fx-background-color: #e1e1e1;
	-fx-background-radius: 40;
}

.search-bar:hover{
	-fx-effect: dropshadow(three-pass-box, red, 25, 0, 0, 0) !important;
	-fx-background-color: white !important;
}

.left-icons{
	
}

.left-icon-pane{
	-fx-padding: 30 5 5 5;
}

.side-left-pane{
	-fx-border-width:  0 0 0 3;
	-fx-cursor: hand;
	-fx-background-color: transparent;
}

.side-left-pane:hover{
	-fx-background-color: #eeeeee !important;
}

.course-head-pane{
	-fx-border-width:  0 0 1 0;
	-fx-border-color: #bbbbbb;
}

.overview-chapter{
	-fx-background-color:  #eeeeee;
	-fx-border-width:  1 0 0 0;
	-fx-border-color:  #c1c1c1;
}

.accountUsername{
	-fx-cursor: hand;
}

.accountUsername:hover{
	-fx-text-fill: #eeeeee;
}

.browse-label:hover{
	-fx-text-fill: #1354a1;
}

.sidebar-icon-holder{
	-fx-border-color: #cccccc;
	-fx-border-radius: 30;
}

.lng-selector:hover
{
	-fx-cursor: hand;
	-fx-text-fill: #2389bc;
}