.param-label{
	-fx-cursor: hand;
}

.param-label:hover{
	-fx-translate-x: 3;
	-fx-text-fill: #1354a1;
	-fx-underline: true;
}

.param-seek{
	-fx-border-width: 0 0 1 0;
	-fx-background-color: white;
	-fx-background-radius: 0;
	-fx-border-color: #eeeeee;
}

.search-bar:hover{
	-fx-effect: dropshadow(three-pass-box, #236599, 25, 0, 0, 0) !important;
	-fx-background-color: white !important;
}

.param-pane{
	-fx-border-width: 0 0 1 0;
	-fx-border-color: #eeeeee;
}

.save-btn{
	-fx-background-color: #3489cd;
	-fx-text-fill: white;
	-fx-cursor: hand;
	-fx-opacity: 1;
}

.save-btn:hover{
	-fx-opacity: 0.9;
}

.expander-img{
	-fx-opacity: 0.55;
}
.expander-img:hover{
	-fx-opacity: 1;
}